{% extends "pages/layout.twig" %}

{% block content %}
    <h1 class="text-center">Effectuer une commande occasionnelle</h1>
    <hr>
    <div id="week_occasional_order" class="shadow p-3 mb-4">
        <h3 class="text-center"> Produits disponibles </h3>
        <div id="products" class="card-deck">
            {% for product in products %}
                <div class="mr-auto ml-auto mb-3 col-2">
                    <div class="product-card m-auto w-100">
                        <div class="font-weight-bold">
                            {{ product.nomproduit }}
                        </div>
                        {{ product.valeur }} {{ product.unite }}
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
    <hr>
    <div class="">
        <h3> Votre commande </h3>
        <form>
            {% for product in products %}
                <div class="mr-auto ml-auto mb-3 col-2">
                    <div class="product-card m-auto w-100">
                        <div class="font-weight-bold">
                            {{ product.nomproduit }}
                        </div>
                    </div>
                </div>
            {% endfor %}
        </form>
    </div>
{% endblock %}

