{% extends "pages/layout.twig" %}


{% block content %}
    <h1 class="text-center"> Mes commandes occassionnelles </h1>

    {% for order in orders %}
        <div class="mb-3 p-2 item-card d-flex">
            <div class="ml-2 align-self-center d-flex">
                Commande N° {{ order.id_commande }}
            </div>
        </div>
    {% endfor %}
{% endblock %}

{% block js %}
    <script src="{{ base_url() }}/JS/order.js"></script>
{% endblock   %}